body{
    padding: 0;
    margin: 0;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    background-color: green;
}
.container{
    grid-template-columns: repeat(2,1fr);
    background-color: aliceblue ;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
}
.content{
    margin: 25px;
    height: auto;
    text-align: center;
}
.decrease,.increase{
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.count{
    margin: 0 10px;
}